.b728x90-1 .ia-31abc6c6c2927fd4f4355ffbe692bde4-product-box-wrapper {
    overflow: hidden;
}
.b120x600-1 .ia-8b99ee2e74b813ad2ce20956e485c105-product-box-wrapper {
    overflow: hidden;
}
.b120x600-1 .ia-8b99ee2e74b813ad2ce20956e485c105-paging-arrow-box {
    float: left;
}
.b300x250-1.ia-4d33ac7b11f6ac49c32703ccfd7e039c-main_div {
    overflow: hidden;
}
