.b120x600-1 .ia-8b99ee2e74b813ad2ce20956e485c105-paging-arrow-box {
    float: left;
}
.b300x600-1 .ia-61b874a87f4f7fd232b6eda46b2f11e5-paging-arrow-box {
    float: left;
}
.b300x600-1.ia-61b874a87f4f7fd232b6eda46b2f11e5-main_div,
.b300x250-1.ia-4d33ac7b11f6ac49c32703ccfd7e039c-main_div,
.b120x600-1 .ia-8b99ee2e74b813ad2ce20956e485c105-product-box-wrapper,
.b728x90-1 .ia-31abc6c6c2927fd4f4355ffbe692bde4-product-box-wrapper,
.b336x280-1.ia-4b5c1f38286af531a8914e3ea34392df-main_div ,
.b970x90-1.ia-7a9fcf304bf530b772d769618243d261-main_div,
.b468x60-1.ia-b47d76b4266371aea2dceca286f40866-main_div {
    overflow: hidden;
}
